

<app-top-bar></app-top-bar>
<div class="flex justify-center">


  <div class="bg-no-repeat bg-cover lg:max-w-[1460px] w-full md:min-h-[670px] min-h-[543px] scroll-m-[50rem]" id="HomeBanner">
    <div class="w-full h-full">
      <!-- <div class="z-1 absolute w-full h-full">
        <div class="items-end justify-center flex flex-col w-full h-full pt-[75px] pb-[120px] md:pt-[60px] md:pb-[60px]">
          <div class="items-end flex flex-col justify-center h-full w-[50%] overflow-hidden" >
            <img src="/assets/home/sell.jpg" alt="nav" class="max-w-full md:h-[70%] h-full object-contain md:mr-0 mr-[-90px]" id="romboide">
          </div>
        </div>
      </div>
      <div class="z-2 absolute w-full h-full">
        <div class="items-start justify-center flex flex-col w-full h-full pt-[70px] pb-[90px] lg:pl-[110px] md:pl-[64px] pl-[32px]">
          <div class="flex flex-col">
            <span style="color:#ffffff" class="font-normal lg:text-[62px] md:text-[48px] text-[30px] md:leading-[4rem] leading-[2.5rem]">
              Vende Rápido,
            </span>
            <span style="color:#ffffff" class="font-normal lg:text-[62px] md:text-[48px] text-[30px] md:leading-[4rem] leading-[2.5rem]">
              Vende Informado
            </span>
            <span style="color:#ffffff" class="font-normal md:text-[20px] text-[16px]">
              ¡Nuestra plataforma, tu guía experta en precios y presentación!
            </span>
          </div>
        </div>
      </div> -->
    </div>

  </div>
</div>
<app-feature></app-feature>

<app-step></app-step>
<hr>
<app-footer></app-footer>




